<div class="min-h-full">
  <nav class="bg-indigo-100">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/" class="tracking-tighter text-5xl font-extrabold">ㄴㅇㅅ
            </a>
          </div>
          <div class="ml-10 flex items-baseline space-x-4">
            <div class="vr"></div>
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <!-- <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Localblog</a> -->
            <a href="/Coin" class="text-gray-900 hover:bg-indigo-900 hover:text-white rounded-md px-3 py-2 text-sm font-medium">암호화폐</a>
            <a href="/Stock" class="text-gray-900 hover:bg-indigo-900 hover:text-white rounded-md px-3 py-2 text-sm font-medium">주식</a>
            <a href="/Gold" class="text-gray-900 hover:bg-indigo-900 hover:text-white rounded-md px-3 py-2 text-sm font-medium">금</a>
          </div>
        </div>
    </div>
  </nav>
</div>
<div class="w-auto bg-gray-200"></div>
<hr>