<footer class="bg-neutral-200 text-center dark:bg-neutral-700 lg:text-left">
  <div class="footer">
    <div class="text-2xl">LOGO</div>
    <div class="flex flex-col justify-start items-center">
      부천정보산업고등학교 <br>
      경기도 부천시 신상로 94(상동 391) <br><br>
      © 2023 Copyright:<a
      href="https://ibucheon.hs.kr/"
      >Bucheon Infomation Industry High School</a>
    </div>
  </div>
</footer>
<style>
  .footer{
    display: flex;
    background: #1f1f1f;
    padding:30px;
  }
  .footer > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .footer > div:last-child {
    flex:9;
    color: #fff;
  }
  
</style>