{% extends "index.html" %}
{% block mid %} 

<ul role="list" class="mt-5 ml-50 mr-50 text-center divide-y divide-gray-100">
    <h1 class="text-center text-3xl m-10 font-extrabold">인기 100위 암호화폐</h1>
    <li class="coins flex justify-between gap-x-6 mb-1">
        <p style="text-overflow: ellipsis" class="w-96 text-2xl text-left font-semibold leading-6">순위 코인이름(심볼)</p>
        <p style="text-overflow: ellipsis" class="text-center w-auto mt-1 truncate text-ml leading-5 boader-text-gray-500">
            <p class="text-gray-900">1시간 등락율</p>
            <p class="text-gray-900">1일 등락율 </p>
            <p class="text-gray-900">1주 등락율</p>
        </p>
        <p style="text-overflow: ellipsis" class="w-96 mt-1 truncate text-m leading-5">가격</p>
    </li>
    {% for coin in coins %}
    <li class="coins flex justify-between gap-x-6 py-2">
                <p style="text-overflow: ellipsis" class="w-96 text-2xl text-left font-semibold leading-6">{{coin.rank}} {{coin.name}}({{coin.symbol}})</p>
                <p style="text-overflow: ellipsis" class="text-center w-auto mt-1 truncate text-ml leading-5">
                    {% if coin.quotes.KRW.percent_change_1h > 0.0 %}<p class="text-red-500">
                    {% elif coin.quotes.KRW.percent_change_1h > 10 %}<p class="text-red-600 text-xl">
                    {% elif coin.quotes.KRW.percent_change_1h < 0.0 %}<p class="text-blue-500">
                    {% elif coin.quotes.KRW.percent_change_1h < 10 %}<p class="text-blue-600 text-xl">
                    {% endif %}
                        {{coin.quotes.KRW.percent_change_1h}}% </p>

                    {% if coin.quotes.KRW.percent_change_24h > 0 %}<p class="text-red-500">
                    {% elif coin.quotes.KRW.percent_change_24h > 10 %}<p class="text-red-600 text-xl">
                    {% elif coin.quotes.KRW.percent_change_24h < 0 %}<p class="text-blue-500">
                    {% elif coin.quotes.KRW.percent_change_24h < 10 %}<p class="text-blue-600 text-xl">
                    {% endif %}
                        {{coin.quotes.KRW.percent_change_24h}}% </p>

                    {% if coin.quotes.KRW.percent_change_7d > 0 %}<p class="text-red-500">
                    {% elif coin.quotes.KRW.percent_change_7d > 10 %}<p class="text-red-600 text-xl">
                    {% elif coin.quotes.KRW.percent_change_7d < 0 %}<p class="text-blue-500">
                    {% elif coin.quotes.KRW.percent_change_7d < 10 %}<p class="text-blue-600 text-xl">
                    {% endif %}
                        {{coin.quotes.KRW.percent_change_7d}}%</p>
                </p>
                <p style="text-overflow: ellipsis" class="text-right w-96 mt-1 truncate text-xl leading-5">{{coin.quotes.KRW.price | round}}₩</p>
        <div class="hidden sm:flex sm:flex-col sm:items-end">
            <p class="mt-1 text-xs leading-5 text-gray-900">{{blog.writer}}</p>
        </div>
    </li>
    <div class="bg-gray-700 w-auto h-0"></div>
    {% endfor %}
</ul>

<style>
    .coins:nth-child(n+2){
        color: goldenrod;
        text-shadow: -2px 0px gold, 0px 2px gold, 2px 0px gold, 0px -2px gold;
        text-shadow: -0.5px 0px black, 0px 0.5px black, 0.5px 0px black, 0px -0.5px black;  
    }
    .coins:nth-child(n+4){
        color: silver;
        text-shadow: -1px 0px gainsboro, 0px 1px gainsboro, 1px 0px gainsboro, 0px -1px gainsboro;
        text-shadow: -0.5px 0px black, 0px 0.5px black, 0.5px 0px black, 0px -0.5px black;
    }
    .coins:nth-child(n+6){
        color: brown;
        text-shadow: -0.5px 0px black, 0px 0.5px black, 0.5px 0px black, 0px -0.5px black;
    }
    .coins:nth-child(n+8){
        color: black;
        text-shadow: none;
    }
</style>
{% endblock %}