{% extends "index.html" %}

{% block mid %}
    <div class="m-20 space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
            <div class="flex justify-center">
                {% if info.img %}
                <img class="h-40 w-40 rounded-full bg-gray-50" src="/static/{{info.img}}">
                {% else %}
                <img class="h-40 w-40 rounded-full bg-gray-50" src="/static/basicUserImg.png">
                {% endif %}
            </div>
            <div>
                <h2 class="mt-6 text-center text-3xl font-semibold leading-7 text-gray-900">{{info.nick}}</h2>
                {% if info.about %}
                    <p class="mt-1 text-center text-sm leading-6 text-gray-600">{{info.about}}</p>
                {% else %}
                    <p class="mt-1 text-center text-sm leading-6 text-gray-600">( 설명이 없습니다 )</p>
                {% endif %}
                <p class="mt-1 text-center text-sm leading-6 text-gray-600">마지막 접속일 : {{info.lastLogin}}</p>
                {% if info.id == user.id %}
                <div class="flex justify-center">
                    <button class="w-50 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" onclick="location.href='/myPage/{{user.id}}/edit'">수정</button>
                </div>
                {% endif %}
            </div>
            <div class="mt-5 border-b border-gray-900/10 text-center">최신 글</div>
            <div class="flex flex-col items-center">
                {% if posts.length >= 1 %}
                    {% set postCnt = 0 %}
                    {% for post in posts %}
                        {% set postCnt = postCnt + 1 %}
                        {% if postCnt <= 3 %}
                            <a href="/blog/post/{{post.idposts}}">
                                <li class="flex justify-between gap-x-6 pt-10">
                                    <div class="flex gap-x-4">
                                        {% if post.img %}
                                            <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="/static/{{post.img}}" alt="">
                                        {% else %}
                                            <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="/static/basicPostImg.png" alt="">
                                        {% endif %}
                                        <div class="min-w-0 flex-auto">
                                            <p style="text-overflow: ellipsis" class="w-96 text-xl font-semibold leading-6 text-gray-900">{{post.title}}</p>
                                            <p style="text-overflow: ellipsis" class="w-96 mt-1 truncate text-m leading-5 text-gray-500">{{post.content}}</p>
                                        </div>
                                    </div>
                                    <div class="hidden sm:flex sm:flex-col sm:items-end">
                                        <p class="w-20 text-sm leading-5 text-gray-500">💬{{post.commentCnt}}</p>
                                        <p class="w-20 text-sm leading-5 text-gray-500">👁{{post.views}}</p>
                                        <p class="w-20 mt-1 text-s leading-5 text-gray-900">{{post.writer}}</p>
                                    </div>
                                </li>
                            </a>
                            <div class="bg-gray-700 w-auto h-0"></div>
                            {% if postCnt == 3 %}
                                <button onclick="location.href='/blog/blog_list/{{params}}/post'" class="w-50 mt-10 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-indigo-600">전체글 읽어보기</button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="mt-3 text-center text-sm text-gray-600">( 글이 없습니다 )</p>
                {% endif %}
                {% if user.nick == info.nick %}
                    <button onclick="location.href='/blog/post_registration'" class="w-50 mt-2 rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-indigo-600">글 쓰기</button>
                {% endif %}
            </div>
            <div class="mt-5 border-b border-gray-900/10 text-center">플레이리스트</div>
            <div class="flex flex-col items-center">
                {% if playlists %}
                    <div id="slideShow">
                        <ul class="slides">
                            {% for playlist in playlists %}
                                <a href="/playlist/{{playlist.idplaylist}}">
                                <li class="flex flex-col py-5">
                                    {% if playlist.img %}
                                        <img class="h-40 w-40 rounded-full bg-gray-50" src="/static/{{playlist.img}}">
                                    {% else %}
                                        <img class="h-40 w-40 rounded-full bg-gray-50" src="/static/basicMusicImg.png">
                                    {% endif %}
                                    <div class="flex justify-center">
                                        <div class="min-w-2 flex-auto">
                                        <p class="w-40 text-xl font-semibold leading-5 text-gray-900">{{playlist.title}}</p>
                                        <p class="w-40 mt-1 truncate text-m leading-5 text-gray-500">{{playlist.maker}}</p>
                                        <p class="w-40 mt-1 truncate text-m leading-5 text-gray-500">{{playlist.count}}개</p>
                                        <div>
                                            <p class="text-base text-gray-900 mt-20">👁 {{playlist.views}}</p>
                                        </div>
                                        </div>
                                    </div>
                                </li>
                                </a>
                            {% endfor %}
                        </ul>
                        <p class="controller">
                            <!-- &lang: 왼쪽 방향 화살표
                            &rang: 오른쪽 방향 화살표 -->
                            <span class="prev mr-10 text-red-500">&lang;</span>  
                            <span class="next ml-10 text-red-500">&rang;</span>
                        </p>
                    </div>
                {% else %}
                    <p class="mt-1 text-center text-sm leading-6 text-gray-600">( 플레이리스트가 없습니다 )</p>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
        li{
          list-style-type: none;
        }
      
        #slideShow{
          width: 900px;
          height: 450px;
          position: relative;
          margin: 50px auto;
          overflow: hidden;   
          /*리스트 형식으로 이미지를 일렬로 
          정렬할 것이기 때문에, 400px 밖으로 튀어 나간 이미지들은
          hidden으로 숨겨줘야됨*/
        }
      
      
        .slides{
          position: absolute;
          left: 0;
          top: 0;
          width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
          transition: left 0.5s ease-out; 
          /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
        }
      
        /* 첫 번째 슬라이드 가운데에 정렬하기위해
        첫번째 슬라이드만 margin-left조정 */
        .slides li:first-child{
          margin-left: 120px;
        }
      
        /* 슬라이드들 옆으로 정렬 */
        .slides li:not(:last-child){
          float: left;
          margin-right: 30px;
        }
      
        .slides li{
          float: left;
        }
      
        .controller span{
          position:absolute;
          background-color: transparent;
          color: black;
          text-align: center;
          border-radius: 50%;
          padding: 10px 20px;
          top: 50%;
          font-size: 1.3em;
          cursor: pointer;
        }
      
        /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
        .controller span:hover{
          background-color: rgba(128, 128, 128, 0.11);
        }
      
        .prev{
          left: 10px;
        }
      
        /* 이전 화살표에 마우스 커서가 올라가 있을때 
        이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
        .prev:hover{
          transform: translateX(-10px);
        }
      
        .next{
          right: 10px;
        }
      
        /* 다음 화살표에 마우스 커서가 올라가 있을때 
        이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
        .next:hover{
          transform: translateX(10px);
      }
    </style>

    <script>
        document.title = "{{info.nick}}의 블로그"

        const slides = document.querySelector('.slides'); //전체 슬라이드 컨테이너
        const slideImg = document.querySelectorAll('.slides li'); //모든 슬라이드들
        let currentIdx = 0; //현재 슬라이드 index
        const slideCount = slideImg.length; // 슬라이드 개수
        const prev = document.querySelector('.prev'); //이전 버튼
        const next = document.querySelector('.next'); //다음 버튼
        const slideWidth = 500; //한개의 슬라이드 넓이
        const slideMargin = 100; //슬라이드간의 margin 값

        //전체 슬라이드 컨테이너 넓이 설정
        slides.style.width = (slideWidth + slideMargin) * slideCount + 'px';

        function moveSlide(num) {
            slides.style.left = -num * 350 + 'px';
            currentIdx = num;
        }

        prev.addEventListener('click', function () {
            /*첫 번째 슬라이드로 표시 됐을때는 
            이전 버튼 눌러도 아무런 반응 없게 하기 위해 
            currentIdx !==0일때만 moveSlide 함수 불러옴 */

            if (currentIdx !== 0) moveSlide(currentIdx - 1);
        });

        next.addEventListener('click', function () {
            /* 마지막 슬라이드로 표시 됐을때는 
            다음 버튼 눌러도 아무런 반응 없게 하기 위해
            currentIdx !==slideCount - 1 일때만 
            moveSlide 함수 불러옴 */
            if (currentIdx !== slideCount - 1) {
            moveSlide(currentIdx + 1);
            }
        });
    </script>
{% endblock %}