<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아리스</title>
</head>
<body>
    <iframe width="894" height="690" src="https://www.youtube.com/embed/T9F1Wk8DQdg?autoplay=1" title="아리스 댄스 그린 스크린 버전 !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <img src="https://ac-p3.namu.la/20230601sac/dc9da73d56e20ec4b8a3041ab3c184503a10c5b666d500b31d236734d07f4373.mp4?expires=1686983951&key=G_ZAE3Vqi0Vt-2mYYm-3fw">
</body>
</html>